# LLM local
langchain==0.1.0
langchain-community==0.0.24

# Graph & Vector
neo4j==5.15.0
chromadb==0.4.22

# Deep Learning (TensorFlow - pour votre modèle DL)
tensorflow==2.15.0

# Machine Learning (Sklearn - pour votre modèle ML)
scikit-learn==1.4.0
opencv-python==4.9.0.80
scikit-image==0.22.0

# Utils
python-dotenv==1.0.0
pandas==2.2.0
numpy==1.26.3
pillow==10.2.0

# Interface
streamlit==1.31.0

# Embeddings
sentence-transformers==2.3.1
